body{
    font-family:"Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;

}
.search{
    width: 30%;
    border-radius: 5px;
    border: 1px solid black;
    height: 35px;
}
.container{
    flex: 1;
}
.card{
    margin-bottom: 30px;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-building{
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.listing-link{
    text-decoration: none;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn{
    /* background-color: #fe424d !important; */
     border: none !important;

}
.btn-primary{
     background-color: #fe424d !important; 
    border: none !important;
}
.show-img{
    height: 30vh;

}
.btns{
    display: flex;
}
.name, .to, .from{
    font-size: large;
    font-weight: 800;
}
.company-search-btn{
    background-color: white;
    padding: 5px;
    width: 15%;
    color: #fe424d;
    border: 2px solid #fe424d;
    border-radius: 5px;

}
.company-search-btn:hover{
    background-color:#fe424d;
    color: white;
}